<style>
    #mapa{
        display: none;
    }

    #sobre{
        display: none;
    }

    #sair{
        display: none;
    }

    #qr{
        display:none;
    }

    .card-body{
        display: flex;
        justify-content: center;
    }

    img{
        height: 30rem;    
    }
</style>



<!--Card com imagem do qr-code-->
<div class="card">
    <div class="card-body">
        <img  id="imgQR" src="../img/Captura de tela 2024-12-01 223958.jpg" alt="">
    </div>
</div>