<!-- Códigos para estilização da página -->
<style>
    /* Oculta o elemento com id 'sair' */
    #sair {
        display: none;
    }

    /* Adiciona uma margem superior de 5rem ao elemento com id 'retornarP' */
    #retornarP {
        margin-top: 5rem;
    }

    /* Estilo para elementos com a classe 'card' */
    .card {
        margin-top: 2rem; /* Adiciona uma margem superior de 2rem */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Define a fonte do texto */
    }

    /* Define a cor do texto para elementos <p> como #525050 (um tom de cinza) */
    p {
        color: #525050;
    }
</style>

<!-- Parágrafo com id 'retornarP' que contém um link para retornar à página anterior -->
<p id="retornarP">
    <!-- Link para voltar à página anterior usando JavaScript -->
    <a href="javascript:history.back()" id="retornar">
        <!-- Ícone de seta em SVG -->
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#bfbfff" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
        </svg>
    </a>
</p>

<!-- Div com classe 'card' contendo o corpo principal do conteúdo -->
<div class="card">
    <div class="card-body">
        <!-- Título do conteúdo dentro da div 'card-body' -->
        <h2>O que é o Estacionamento Rotativo?</h2>

        <!-- Parágrafo explicando o conceito de estacionamento rotativo -->
        <p>
            O estacionamento rotativo, também conhecido como ”Zona Azul”, foi criado para melhorar o tráfego nas ruas, aumentando a disponibilidade de vagas e permitindo que as pessoas estacionem seus veículos próximo ao local onde precisam realizar seus afazeres.

            Esse modelo funciona de acordo com a aplicação de algumas regras e limites para estacionamento nas vias públicas, de modo que esteja alinhado ao meio-fio da calçada.

            Como o próprio nome diz, o estacionamento rotativo tem como objetivo criar um fluxo contínuo, no qual os cidadãos param seus veículos, deixando-os por um determinado período de tempo até retirá-lo do local, liberando o espaço para que outras pessoas também possam utilizá-los, e assim sucessivamente.

            Geralmente, os estacionamentos rotativos estão localizados em vias localizadas nos centros comerciais da cidade, pois é lá onde existe maior concentração de veículos. Isso não significa, porém, que tal modelo não esteja disponível em outros lugares.

            Com relação aos demais municípios brasileiros, cada um deles tem as suas características quanto à frota e planejamento da mobilidade urbana. Por isso, são livres para estabelecer os detalhes do sistema de estacionamento rotativo.

            A exemplo do que ocorre em São Paulo, o órgão municipal executivo de trânsito pode ser uma secretaria da Prefeitura ou uma empresa, como a Companhia de Engenharia de Tráfego (CET).

            No entanto, muitas cidades não possuem esse sistema, por diversas razões. Mais uma vez: isso vai de acordo com as diretrizes de cada município.

            De acordo com a Resolução nº 302/2008 do Conselho Nacional de Trânsito (Contran), a área de estacionamento rotativo é a parte da via sinalizada para o estacionamento de veículos, gratuito ou pago, regulamentado para um período determinado pelo órgão ou entidade com circunscrição sobre a via.

            Por isso, a legislação não exige especificamente que ele seja pago; porém, se for, a rotatividade é ainda maior, pois o motorista desembolsa apenas pelo tempo necessário para fazer as atividades necessárias em determinada região.
        </p>
    </div>
</div>
