<!DOCTYPE html>
<!-- Define o tipo de documento como HTML e especifica o idioma como português do Brasil -->
<html lang="pt-br">

<head>

    <!-- Define a codificação de caracteres como UTF-8 -->
    <meta charset="UTF-8">
   
    <!-- Define as configurações da viewport para garantir que o layout seja responsivo em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Define o título da página -->
    <title>Perfil</title>

</head>

<!-- Estilos específicos para a página, definindo a aparência de divs com ID 'divImg' e classes 'figure' e 'figure-img' -->
<style>

    /* Estilos CSS internos */
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #divImg {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        width: 80px;
        height: 80px;
        border: 1px solid rgb(162, 169, 233);
        background-size: 90%;
        border-radius: 100%;

        cursor: pointer;
    }

    .figure {
        display: flex;
        border-radius: 100%;
    }

    .figure-img {
        display: flex;
        border-radius: 100%;
    }

    #image{
        margin-bottom: 15px;
    }

    #divInicio{
        display: flex;
        flex-direction: column;

        margin-top: 23vh;
    }

    #logoP {
        width: 35px;
        height: 30px;
    
        display: flex;
        justify-content: center;
    }

    #imgLogo{
        width: 30px;
        height: 30px;
        border-radius: 70%;
    }

    .nav-link{
        color: white !important;
        transition: 5s;
    }

    .nav-link:hover{
        color: black !important;

    }

    #divColumn {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        height: 20vh;
    }

    #cardTopo {
        display: flex;
        border: none;
    }

    .butoes {
        display: flex;
        align-items: start;

        height: 40px;
    }

    #editar {
        margin-left: 0px;
        margin-right: 10px;
    }

    #editar1 {
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 8px;
    }

    #btnVeiculo{
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 8px;
    }

    .form-group {
        margin-bottom: 12px;
    }

    #butonNovo{
        margin-top: 30px;
        color: white;
    }


</style>


<body>

    <!-- Inclui um partial chamado '_navbar', que provavelmente contém a barra de navegação -->
    {{>_navbar}}

    <div class="container mt-5">

        <!-- Inclui um partial chamado '_msg', que provavelmente contém mensagens flash para feedback ao usuário -->
        {{>_msg}}
        <!-- Insere o conteúdo do corpo da página. A tripla chave permite a inclusão de HTML não escapado -->
        {{{body}}}

    </div>

</body>

<!-- Inclui folhas de estilo e scripts do Bootstrap CDN para garantir que a página tenha estilos e funcionalidades Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<!-- Fecha o documento HTML -->

</html>